listeners.tcp.default = {{ rabbitmq.port }}

# To allow custom configs like vm_memory_high_watermark define it via custom_configurations in data.yaml 
{% if rabbitmq.custom_configurations is defined %}
{% for item in rabbitmq.custom_configurations %}
{{ item.name }}                  = {{ item.value }} 
{% endfor %}
{% endif %}