{
  "CN": "system:apiserver",
  "hosts": [
{% for host in groups['master'] %}
    "{{ hostvars[host]['ansible_host'] }}",
{% endfor %}
    "127.0.0.1",
    "{{ cluster_kubernetes_svc_ip }}",
    "{{ master_vip }}",
    "kubernetes",
    "kubernetes.default",
    "kubernetes.default.svc",
    "kubernetes.default.svc.cluster",
    "kubernetes.default.svc.cluster.local"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ country }}",
      "ST": "{{ state }}",
      "L": "{{ locality }}",
      "O": "system:masters",
      "OU": "{{ unit }}"
    }
  ]
}